<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lista de Tarefas</title>
</head>

<body>
    <form method="post" action="/create"> <!-- método post, executa a ação no caminho /create -->
        <input type="text" placeholder="Digite uma tarefa..." id="task" name="task">
        <button type="submit" id="addTask" >Adicionar Tarefa</button>
    </form>

    <script src="script.js"></script>
</body>

</html>